<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link href="stylesheets/css/mystyle.css" rel="stylesheet" type="text/css" />

<!--<link href="css/responsive.css" rel="stylesheet" type="text/css" />-->

</head>


<body>
<div class="headerContainer">
<div class="pull-left" style="width:250px; margin-left: 2%;">
                <img src="images/appLogo.png">
            </div>
            <div class=" pull-left" style="width:250px;">
            	<input type="button" class=" btn btn-default c-submit" value="View Admin" id="viewAdmin"/>
           </div>
           <div class="col-xs-6 col-sm-4 pull-right" style="padding-left:0px;">
                <div class="userImage ">
                    <img src="images/avatar.png">
                </div>
                <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Justin Hall
            <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
   <!-- <div class="container">
        <div class="adminHeader">
            
            
        </div>
    </div>-->
</div>
<div class="col-xs-12 col-md-3 bgColr" id="adminDropDown">
        	<div class="manager pull-left borderBot">
            	<img class="pull-left" src="images/create-manager.jpg">
                <span class="pull-left">Add Manager</span>
            </div>
            <div class="manager pull-left borderBot">
            	<img class="pull-left" src="images/view-manager.jpg">
                <span class="pull-left">View Managers</span>
            </div>
            <div class="manager pull-left borderBot">
            	<img class="pull-left" src="images/company-profile.jpg">
                <span class="pull-left">Company Profile</span>
            </div>
            
        </div>
<link href="stylesheets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/css/bootstrap.icon-large.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/css/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/javascripts/jquery-1.9.1.js"></script>
  <script src="/javascripts/jquery-ui-1.10.3.js"></script>
  <script src="/javascripts/utility.js"></script>
  <link href="stylesheets/css/mystyle.css" rel="stylesheet" type="text/css" />
</body>
</html>
