
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link href="stylesheets/css/style.css" rel="stylesheet" type="text/css" />
<!--<link href="css/responsive.css" rel="stylesheet" type="text/css" />-->

</head>

<body>
<div class="container">
<div class="loginContainer">
	<div class="login-logo"><img src="images/logo.png" /></div>
    <form role="form">
    <div class="form-group">
    	<div class="input-field"><input type="text"  class="form-control" placeholder="First Name*" /></div>
        <div class="input-field"><input type="text"  class="form-control" placeholder="Last Name*" /></div>
        <div class="input-field"><input type="password"  class="form-control" placeholder="Password*" /></div>
        <div class="input-field"><input type="text"  class="form-control" placeholder="Email*" /></div>
        <div class="input-field"><input type="text"  class="form-control" placeholder="Company" /></div>
        <div class="input-field"><input type="submit" class=" btn btn-default c-submit" value="SIGN UP" /></div>
        <div class="input-field"><a href="#">Forget Password</a></div>
    </div>
    </form>
    </div>
</div>
</div>
<link href="stylesheets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
