<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/saveAnswerVideo">
    <input type="text" name="interviewId">
    <input type="text" name="questionId">
    <input type="text" name="userId">
    <input type="file" name="thumbnail">
    <input type="submit">
</form>
</body>
</html>