<!DOCTYPE html>
<html lang="en" ng-app="videoScreeningApp">
  <head>
    <meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="stylesheets/css/mystyle.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/jquery.dataTables.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="mainController">

<div class="headerContainer">
<div class="pull-left" style="width:250px; margin-left: 2%;">
                <img src="images/appLogo.png">
            </div>
            <div class=" pull-left" style="width:250px;">
            	<input type="button" class=" btn btn-default c-submit" value="View Admin" id="viewAdmin"/>
           </div>
           <div class="col-xs-6 col-sm-4 pull-right" style="padding-left:0px;">
                <div class="userImage ">
                    <img src="images/avatar.png">
                </div>
                <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Justin Hall
            <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
   <!-- <div class="container">
        <div class="adminHeader">


        </div>
    </div>-->
</div>
<div class="col-xs-12 col-md-3 bgColr" id="adminDropDown">
        	<div class="manager pull-left borderBot" style="cursor:pointer;" id="addManager">
            	<img class="pull-left" src="images/create-manager.jpg">
                <span class="pull-left" >Add Manager</span>
            </div>
            <div class="manager pull-left borderBot" style="cursor:pointer;" id="viewManagers">
            	<img class="pull-left" src="images/view-manager.jpg">
                <span class="pull-left" >View Managers</span>
            </div>
            <div class="manager pull-left borderBot" style="cursor:pointer;" id="companyProfile">
            	<img class="pull-left" src="images/company-profile.jpg">
                <span class="pull-left" >Company Profile</span>
            </div>

        </div>

<div class="">
	<div class="">
        <div class="col-xs-12 col-md-12">
        	<div class="">
            	<h3>View Manager</h3>
                <div class="">
                    <input style=" margin-left: 91%;margin-top: -66px;" type="submit" class=" btn btn-default" value="+ Add Manager" />
            	</div>

            <table  id="managerTable" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr class="">
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody id="viewManagerTBody">

                </tbody>
            </table>
           </div>
        </div>
    </div>
</div>
         <div class="myContainer" id="managerFormDiv" title = "Add Manager">

                 	<div class="mainArea">

                         <div class="col-xs-12 col-md-12">
                         	<div class="profileArea">
                             	<h3>Create Manager Form</h3>
                <form role="form" id="addManagerForm" name="addManagerForm">
                            <div class="form-group">
                                 <div class="profileFields">
                                 <div class="companyName">
                                 <input type="text"  class="form-control" placeholder="First Name" ng-model="addManagerFormData.firstName"/>
                                 </div>
                                 <div class="companyName">
                                 <input type="text"  class="form-control" placeholder="Last Name" ng-model="addManagerFormData.lastName"/>
                                 </div>
                                 <div class="companyName">
                                 <input type="text"  class="form-control" placeholder="Username Name" ng-model="addManagerFormData.userName"/>
                                 </div>
                                 <div class="companyName">
                                 <input type="password"  class="form-control" placeholder="Password" ng-model="addManagerFormData.password"/>
                                 </div>
                                 <div class="companyName">
                                 <input type="text"  class="form-control" placeholder="Email" ng-model="addManagerFormData.email"/>
                                 </div>
                                      <!--<div class="dropdown">
                                     <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Role
                                 <span class="caret"></span></button>
                                         <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">One</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Two</a></li>
                                             <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Three</a></li>
                                         </ul>
                                     </div>-->
                                     <div class="companyName">

                                         <input type="submit" class=" btn btn-default proBtn" value="Save" ng-click="saveManager()"/>
                                     <input type="submit" class=" btn btn-default proBtn" value="Cancel" />
                                     </div>


                             </div>
                             </div>
                             </form>
                         </div>
                     </div>
                     </div>

                 </div>


                 <div class="myContainer" id="companyProfileDiv" title = "Change Company Name">

                         	<div class="mainArea">

                                 <div class="col-xs-12 col-md-12">
                                 	<div class="profileArea">
                                     	<h3>Change Company name</h3>
                                      <form role="form" id="companyProfileForm" name="companyProfileForm">
                                        <div class="form-group">
                                         <div class="profileFields">
                                             <input type="text"  class="" placeholder="Company Name" ng-model="companyProfileFormData.companyName"/>
                                             <input type="hidden"  class="" ng-model="companyProfileFormData.companyId" id="hiddenCompanyId"/>
                                             <input type="submit" class=" btn btn-default proBtn" value="Update" ng-click="updateCompany()"/>
                                             <input type="submit" class=" btn btn-default proBtn" value="Cancel" />
                                         </div>
                                        </div>
                                     </form>
                                 </div>
                             </div>
                             </div>

                         </div>
<link href="stylesheets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/css/bootstrap.icon-large.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/css/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/javascripts/jquery-1.9.1.js"></script>
  <script src="/javascripts/jquery-ui-1.10.3.js"></script>
  <script src="/javascripts/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js"></script>
  <script src="/javascripts/jquery.dataTables.js"></script>
  <script src="/javascripts/config.js"></script>
  <script src="/javascripts/service.js"></script>
  <script src="/javascripts/utility.js"></script>
  <script src="/javascripts/viewManagerJS.js"></script>

  <link href="stylesheets/css/mystyle.css" rel="stylesheet" type="text/css" />
</body>
</html>